name: 'Lint Markdown'

on: [pull_request, push]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ljharb/actions/node/install@main
        name: 'nvm install lts/* && npm install'
      - run: npm run lint
